h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

* {
    
    text-decoration: none;
    outline: var(--background-color2);
}

:root {
    --background-color1: #000;
    --background-color2: #fff;
    --description-text: #757575;
    --hedertext: #212121;
    --logo-beg: #2196F3;
    --logo-end: #000;
    --logo-end-down: #fff;
    --header: #212121;
    --links: #212121;
    --links-hover: #2196F3;
    --links-contact: #757575;
    --links-conact-hover-focus: #2196F3;
    --order-background-color: #2F303A;
    --desigion-color: #fff;
    --button-push-background: #2196F3;
    --button-push-active: #188CE8;
    --order-button-color: #fff;
    --advantage-color: #212121;
    --advantage-title-color: #757575;
    --work-color: #212121;
    --team-color-background: #F5F4FA;
    --team-list-background: #fff;
    --name: #212121;
    --prof-color: #757575;
    --footer-background: #2F303A;
    --address-color: #fff;
    --footer-link: rgba(255, 255, 255, 0.6);
    --filter-title-color: #212121;
    --filter-title-background: #F5F4FA;
    --filter-title-hover: #2196F3;
    --filter-color: #212121;
    --filter-work: #757575;
    --work-title: #212121;
    --border: #ECECEC;
    --icon-mail-tel: #757575;
    --icon: #AFB1B8;
    --filter-text-color: #ffffff;

}

body {
    font-family: 'Roboto';
    font-style: normal;
    color: var(--background-color1);
    background: var(--background-color2);
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
} 

button {
    font-family: 'Roboto' ;
    cursor: pointer;
}

.container {
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.pic {
    display: block;
    min-width: 100%;
}

/* ------- Header --------- */

.header { 
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1428;
        letter-spacing: 0.02em;
        border-bottom: 1px solid var(--border);
        
}

.container-heder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;    
}

.logo-beg {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.1923;
            letter-spacing: 0.03em;
            color: var(--logo-beg);
}

.logo-end {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.1923;
            letter-spacing: 0.03em;
            color: var(--logo-end);
}

.logo-end-down {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: var(--logo-end-down);
}

.links {
    display: block;
    color: var(--links);
    padding: 32px 0;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    
}

.links.current::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--button-push-background);
    border-radius: 2px;
    bottom: -1px;
    transition: opacity 250ms var(--button-push-background);
}

.links.links.current {
    color: var(--button-push-background);
}


.links-conact:hover,
.links-conact:focus {
    color: var(--links-conact-hover-focus);
}
 /*
.links-conact:focus {
    color: var(--links-conact-hover-focus);
} */
.links-conact:hover .email-pic,
.links-conact:focus .email-pic,
.links-conact:hover .telefon-pic,
.links-conact:focus .telefon-pic {
    fill: var(--links-conact-hover-focus);
}


.email:hover .email-pic {
    fill: var(--links-conact-hover-focus);
}
.email:focus .email-pic {
    fill: var(--links-conact-hover-focus);
}
.telefon:hover .telefon-pic {
    fill: var(--links-conact-hover-focus);
}
.telefon:focus .telefon-pic {
    fill: var(--links-conact-hover-focus);
}

.links-conact {
    list-style: none;
    text-decoration: none;
    color: var(--links-contact);
    display: flex;
    align-items: center;
    gap: 10px;
    transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;
}

.links:hover {
    color: var(--links-hover);
}

.links:focus {
    color: var(--links-hover);
}

.nav-menu {
    cursor: pointer;
    display: flex;
    gap: 50px;
    margin-left: 93px;
}

.container-beg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mail-telefon {
    display: flex;
    justify-content: end;
    align-items: baseline;
    gap: 50px;
    margin: 0 0 0 auto;
    
}

.email {
    fill: var(--icon-mail-tel);
}

.telefon {
    fill: var(--icon-mail-tel);
}

.email-pic {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*-------------- HEro ----------- */
.order {
        min-width: 1600px;
        max-width: 1600px;
        background: var(--order-background-color);
        padding-top: 200px;
        padding-bottom: 200px;
        margin: 0 auto;
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),
            url(../images/fon-main.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
}

.desigion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.3636;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--desigion-color);
        margin-bottom: 30px;
}

.container-button {
    display: flex;
    justify-content: center;
}

.button-push {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        width: 216px;
        height: 50px;
        left: 692px;
        top: 430px;
        letter-spacing: 0.06em; 
        background: var(--button-push-background);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: var(--order-button-color);
        border: 0;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;
}

.button-push:hover {
    background-color: var(--button-push-active);
}

.button-push:focus {
    background-color: var(--button-push-active);
}

.button-push:active {
    background-color: var(--button-push-active);
}

.order-button {
    font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: var(--order-button-color);
}
/*------------------ we are the best ! !! ---------- */
.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        border: 0;
        clip: rect(0 0 0 0);
}

.picture {
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    /* gap: 30px; */
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.advantage {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1428;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--advantage-color);
        margin-bottom: 10px;
}

.container-advantage-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.advantage-list {
    flex-basis: calc((100% - 90px) / 4);
}

.advantage-title {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7142;
        letter-spacing: 0.03em;
        color: var(--advantage-title-color);
}

/* ----------------- work ------------ */

.container-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section.work {
    padding-top: 0;
}

.title {
        justify-content: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1666;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--work-color);
        margin-top: 0;
        margin-bottom: 50px;
}

.container.work {
    display: flex;
    justify-content: center;
    align-items: center;
}

.working {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.working-foto {
    flex-basis: calc((100% - 60px) / 3);
    position: relative;
}

.working-title {
    position: absolute;
    width: 100%;
    height: 70px;
    top: calc(100% - 70px);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--logo-end-down);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------------- our team ------------*/

.team {
        background: var(--team-color-background);
}

.team-list {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.team-list-item {
    background: var(--team-list-background);
    flex-basis: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-info {
    padding-top: 30px;
    padding-bottom: 30px;
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--name);
    margin-bottom: 10px;
}

.prof {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--prof-color);
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-item {
    width: 44px;
    height: 44px;
    gap: 10px;
}

.social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--team-list-background);
    display: flex;
    justify-content: center;
    align-items: center;
/*    transition: 250ms; */  
    transition-property: background-color;  
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.social-link:hover,
.social-link:focus {
background-color: var(--button-push-active);


}


.social-link:hover .social-icon {
    fill: var(--team-list-background);
}

.social-link:focus .social-icon {
    fill: var(--team-list-background);
}

.social-icon {
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

}

/* ------------- CLIENTS ---------- */

.client {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 94px;
    margin-bottom: 50px;
}

.client-icon {
    padding-top: 16px;
    padding-bottom: 16px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    
}

.clients-list {
    display: flex;
    align-items: center;
    gap: 30px;
}
.clients-list .client-item {
    flex-basis: calc((100% - 150px) / 6);
}

.client-link {
    display: block;
    height: 92px;
    outline: 1px solid var(--background-color2); 
    border: 1px solid var(--icon);
    border-radius: 4px;
    transition-property: border;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;
}

.client-link:hover,
.client-link:focus {
    border: 1px solid var(--links-conact-hover-focus);
    border-radius: 4px;
    cursor: pointer;
}

.client-icon {
    fill: var(--icon);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
    fill: var(--links-conact-hover-focus);
}


/*

Розібратись і зрозуміти !!!!


.clients-list {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 94px;
    outline: 1px solid var(--background-color2);
}

.client-item {
    box-sizing: border-box;
    border: 1px solid var(--icon);
    color: var(--icon);
    border-radius: 4px;
    
}
.client-icon {
    padding-top: 16px;
    padding-bottom: 16px;
    fill: var(--icon);
}
.client-item:hover {
    border: 1px solid var(--links-conact-hover-focus);
} 

.client-link:hover .client-icon {
    fill: var(--links-conact-hover-focus);
}
 
.client-link {
    outline: var(--links-conact-hover-focus);
}
.client-link:focus {
    border: 1px solid red;
    color: var(--links-conact-hover-focus);
}
.client-link:focus .client-icon {
   
    fill: var(--links-conact-hover-focus);
} */


/*------------------ Footer -----------*/

.footer {
    display: flex;
    flex-direction: column;
    background: var(--footer-background);
}

.footer-logo {
    padding-top: 60px;
    padding-bottom: 60px;
}

.container-footer-links-logo {
    display: inline-block;
    justify-content: flex-start;
    margin-bottom: 20px;
} 

.footer-address-link {
    display: flex;
}

.container-footer-links {
    display: flex;
    flex-direction: column;
}

.address {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7142;
        color: var(--address-color);
        font-style: normal;
}

.footer-link {    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: var(--footer-link);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.footer-link:hover {
    color: var(--links-hover);
}
.footer-link:focus {
    color: var(--links-hover)
}

.footer-list:not(:last-child) {
    margin-bottom: 9px;
}

.container-buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.container-footer {
    display: flex;
    align-items: flex-start;
}

.footer-social-list {
    display: flex;
    gap: 10px;
}
.footer-social,
.subscribe {
    margin-left: 70px;
    padding-top: 72px;
}

.join {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1428;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--address-color);
}

.footer-social-link {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;
}
.footer-social-item {
    width: 44px;
    height: 44px;
}
.footer-social-icon {
    fill: #fff;

}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--links-conact-hover-focus);
}

.footer-email-input {
    width: 358px;
    height: 50px; 
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.subscribe-block {
    display: flex;
    flex-direction: row;
}

.subscribe-button {
    width: 200px;
    height: 50px;
    display: block;
    display: flex;
    background: var(--button-push-background);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 12px;
    gap: 10px;
}

.subscribe-button-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-title {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: transparent;
    padding-left: 28px;
  
    margin-right: 10px;
}

.submit-button-icon {
    position: absolute;
    padding-right: 28px;
    

}

/* ---------------- Portfolio / buttons --------- */

.filter-tytle {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.625;
            text-align: center;
            letter-spacing: 0.03em;
            color: var(--filter-title-color);
            background-color: var(--filter-title-background);
            border-radius: 4px;
            padding: 6px 22px;
            border: 0;
            transition-property: color, background-color, box-shadow;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-delay: 0;
            /* cursor: pointer;
                display: flex;
                gap: 50px;
                margin-left: 93px;
            */    
}

.filter-tytle:hover {        
        color: var(--filter-title-background);
        background-color: var(--filter-title-hover);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }

.filter-tytle:focus {
        color: var(--filter-title-background);
        background-color: var(--filter-title-hover);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
}

/* ---------------- modal ------------- */

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.581);
    transition: opacity 250ms, visibility 250ms;
}

.modal {
    width: 528px;
    min-height: 581px;
    background-color: var(--background-color2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 40px;

}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
    
}

.modal-close {
    box-sizing: border-box;
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        
}

.modal-close:hover .close,
.modal-close:focus .close {
    fill: var(--button-push-background);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--advantage-color);
    margin-bottom: 12px;

}

.modal-input {
    width: 448px;
    height: 40px;
    left: 576px;
    top: 314px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    padding-left: 35px;
}

.modal-input:focus,
.modal-input:hover {
    border-color: var(--button-push-background);
}

.modal-input:focus + .modal-icon
.modal-input:hover + .modal-icon {
    fill: var(--button-push-background);
}

.input-label {
    display: block;
    margin-bottom: 4px;
}

.modal-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.input-wrapper {
    position: relative;
    margin-bottom: 10px;
}

.modal-coment {
    width: 448px;
    height: 120px;
    left: 576px;
    top: 519px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    margin-bottom: 20px;
}

.form-name-icon {
    position: absolute;
}

.modal-coment:focus,
.modal-coment:hover {
    border-color: var(--button-push-background);
}

.form-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.01em;
    color: var(--advantage-title-color);
    margin-bottom: 4px;
}

.lic-agreement {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: var(--advantage-title-color);
}


.agreement {
    text-decoration-line: underline;
    color: var(--button-push-background);
}

.modal-form {
    margin-bottom: 30px;
}

.form-button {
    display: flex;
    justify-content: center;
}

.submit-button {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 712px;
    background: var(--button-push-background);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--order-button-color);
    border: 0;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.submit-button:hover,
.submit-button:focus {
    background-color: var(--button-push-active);
}

.send {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--background-color2);
}

/* ------------- filter cards --------- */

.filter {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--filter-color);
        
}

.filter-top-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 64px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.filter-border {
        background: #FFFFFF;
        flex-basis: calc((100% - 60px) / 3);     
}

/*
.filter-border:hover .filter-text {
    transform: translateY(0);
} */

.filter-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--background-color2);
}
    

.filter-link {
    display: block;    
}

.filter-link:hover,
.filter-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter-link:hover .filter-top-wrap,
.filter-link:focus .filter-top-wrap { 
  transform: translateY(0);
}

.filter-border {
    min-width: 370px;
    background-color: var(--background-color2);
}

.filter-image {
    position: relative;
    overflow: hidden;
}

.filter-top-wrap {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(33, 150, 243, 0.9);
        color: var(--filter-text-color);
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        padding: 40px;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms;
        overflow: auto;
        color: var(--filter-text-color);
}


.filter-work {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.03em;
        color: var(--filter-work);
}

.work-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--work-title);
        margin-bottom: 4px;
}

.portfolio-title {
    padding: 20px 24px 20px 24px;
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    border-left: 1px solid var(--border);
}